.simple_with_animation li {
	padding-left: 5px;
}

.subcategory-order {
	padding: 8px 8px 8px 16px;
	color: white;
	background-color: #d45055;
	border-radius: 5px;
	border: 1px solid black;
	cursor: grab;
	width: 100%;
	display: inline-block;
}


.subcategory-order:hover {
	color: white;
}

